body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.grid {
  width: 200px;
  height: 200px;
  border: 1rem solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}