body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

.game-container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #ff0000;
  color: white;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #20c711;
}

.choices {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.choices img {
  width: 100px;
  height: 100px;
}

.scoreboard {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
