body, h1, h3{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.invaders {
    background-image: url("image/ufo.png");
    
}

.shooter {
    background-image: url("image/shooter.png");
    
}

.laser {
    background-color: rgb(0, 243, 0);
}

.boom {
    background-color: red;
}